
:root {
  --root-1: #ffffffdd;
  --root-2: #ffffffdd;
  --root-3: #ffffffdd;
  --root-4: #ffffffdd;
  --root-5: #ffffffdd;
  --root-6: #ffffffdd;
  --root-7: #ffffffdd;
  --root-8: #ffffffdd;
  --root-9: #ffffffdd;

  --root-zero-1: gray;
  --root-zero-2: gray;
  --root-zero-3: gray;
  --root-zero-4: gray;
  --root-zero-5: gray;
  --root-zero-6: gray;
  --root-zero-7: gray;
  --root-zero-8: gray;
  --root-zero-9: gray;
}

#root {
  position: relative;
}

.start {
  width: 100%;
  height: 41px;
  padding: 8px;
  text-align: center;

  position: fixed;
  left: 0;
  top: 0;
  background: #242424;
  border-bottom: 1px solid;
  z-index: 50;

  input {
    width: 100px;
    font-family: Cascadia Mono, monospace;
    text-align: right;
  }
}

.empty {
  width: 100%;
  height: 41px;
}

.division {
  margin: 8px auto;
  border-collapse: separate;
  border-spacing: 16px 0;

  color: #ffffffdd;
  font-family: Cascadia Mono, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;

  [data-root="1"] {
    color: var(--root-1);
  }

  [data-root="2"] {
    color: var(--root-2);
  }

  [data-root="3"] {
    color: var(--root-3);
  }

  [data-root="4"] {
    color: var(--root-4);
  }

  [data-root="5"] {
    color: var(--root-5);
  }

  [data-root="6"] {
    color: var(--root-6);
  }

  [data-root="7"] {
    color: var(--root-7);
  }

  [data-root="8"] {
    color: var(--root-8);
  }

  [data-root="9"] {
    color: var(--root-9);
  }

  .zero[data-root="1"] {
    color: var(--root-zero-1);
  }

  .zero[data-root="2"] {
    color: var(--root-zero-2);
  }

  .zero[data-root="3"] {
    color: var(--root-zero-3);
  }

  .zero[data-root="4"] {
    color: var(--root-zero-4);
  }

  .zero[data-root="5"] {
    color: var(--root-zero-5);
  }

  .zero[data-root="6"] {
    color: var(--root-zero-6);
  }

  .zero[data-root="7"] {
    color: var(--root-zero-7);
  }

  .zero[data-root="8"] {
    color: var(--root-zero-8);
  }

  .zero[data-root="9"] {
    color: var(--root-zero-9);
  }

  table {
    border-spacing: 0;

    &.digital-roots {
      td:first-child {
        color: gray;
      }

      td:last-child {
        text-align: center;
      }
    }

    &.result {
      position: absolute;

      td {
        text-align: left;
        border-left: 1px solid #ffffffdd;

        &.result {
          border-top: 1px solid #ffffffdd;
          text-wrap: nowrap;

          .periodic {
            color: lightsalmon;
          }
        }
      }
    }
  }

  tr.second td:not(.second) {
    border-bottom: 1px dotted darkgreen;
  }

  td {
    text-align: right;

    &.head {
      font-weight: 600;
      text-wrap: nowrap;
    }

    &.minus {
      text-align: center;
      vertical-align: middle;
    }

    &.second {
      border-bottom: 1px solid #ffffffdd;
    }
  }
}

.dot {
  color: green;
  position: absolute;
  translate: calc(50% + 1.5px) calc(-100% + 1px);
}

@media (prefers-color-scheme: light) {
  :root {
    --root-1: #213547;
    --root-2: #213547;
    --root-3: #213547;
    --root-4: #213547;
    --root-5: #213547;
    --root-6: #213547;
    --root-7: #213547;
    --root-8: #213547;
    --root-9: #213547;

    --root-zero-1: silver;
    --root-zero-2: silver;
    --root-zero-3: silver;
    --root-zero-4: silver;
    --root-zero-5: silver;
    --root-zero-6: silver;
    --root-zero-7: silver;
    --root-zero-8: silver;
    --root-zero-9: silver;
  }

  .start {
    background: #ffffff;

    input {
      color: inherit;
      background: inherit;
    }
  }

  .division {
    color: #213547;

    table {
      &.digital-roots {
        td:first-child {
          color: silver;
        }
      }

      &.result {
        td {
          border-left: 1px solid #213547;

          &.result {
            border-top: 1px solid #213547;
          }
        }

        .periodic {
          color: salmon;
        }
      }
    }

    tr.second td:not(.second) {
      border-bottom: 1px dotted lightgreen;
    }

    td {
      &.minus {
        text-align: center;
        vertical-align: middle;
      }

      &.second {
        border-bottom: 1px solid #213547;
      }
    }
  }

  .dot {
    color: lightgreen;
  }
}
